<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_test_lms</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <script src="~/js/layout.js" defer asp-append-version="true"></script>
</head>
<body>
    <nav id="sidebar">
        <ul>
            <li class="active">
                <a asp-controller="Home" asp-action="Index">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a asp-controller="Agents" asp-action="Index">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <button onclick="toggleSubMenu(this)" class="dropdown-btn">
                    <span>Create</span>
                    </button>
                <ul class="sub-menu">
                    <div>
                    <li><a href="#">Folder</a></li>
                    <li><a href="#">Document</a></li>
                    <li><a href="#">Project</a></li>
                    </div>
                </ul>
            </li>
            <li>
                <button onclick=toggleSubMenu(this) class="dropdown-btn">
                    <span>Todo-Lists</span>
                    </button>
                <ul class="sub-menu">
                    <div>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Private</a></li>
                    <li><a href="#">Coding</a></li>
                    <li><a href="#">Gardening</a></li>
                    <li><a href="#">School</a></li>
                    </div>
                </ul>
            </li>
            <li>
                <a href="calendar.html">
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="profile.html">
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </nav>
    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
