@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#F1F3FF,#CBD4FF);
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 260px;
    background: #151A2E;
}

.main {
    flex: 1;
    min-height: 100vh;
    background: #FFFFFF;
    padding: 20px;
    margin-left: 260px;
}

    .main.expanded {
        margin-left: 85px;
    }

.sidebar.collapsed {
    width: 85px;
}

    .sidebar .sidebar-header {
        display: flex;
        position: relative;
        align-items: center;
        padding: 25px 20px;
        justify-content: space-between;
    }

.sidebar-header .header-logo img{
    height: 46px;
    width: 46px;
    display: block;
    border-radius: 50%;
    object-fit: contain
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    background: #F1F3FF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}

    .sidebar-header .sidebar-toggler:hover {
        background: #d9e1fd;
    }

.sidebar.collapsed .sidebar-toggler{
    transform: translate(-4px, 65px);
}

.sidebar-header .sidebar-toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 4px;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar-nav .primary-nav {
    overflow-y: auto;
    height: calc(100vh - 204px);
    padding-bottom: 50px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

    .sidebar-nav .primary-nav:hover {
        scrollbar-color: #EEF2FF transparent;
    }

.sidebar.collapsed .sidebar-nav .primary-nav {
    overflow-y: unset;
    transform: translateY(65px);
}

.sidebar-nav .nav-item1 .nav-link1 {
    color: #fff;
    text-decoration: none;
    display: flex;
    gap: 12px;
    align-items: center;
    white-space: nowrap;
    padding: 11px 15px;
    border: 1px solid #151A2E;
    border-radius: 8px;
    transition: 0.4s ease;
}

.sidebar-nav .nav-item1:is(:hover, .open) > .nav-link1:not(.dropdown-title) {
    background: #EEF2FF;
    color: #151A2E;
}

.sidebar-nav .nav-link1 :where(.nav-label, .dropdown-icon) {
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link1 :where(.nav-label, .dropdown-icon) {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
    background: #151A2E;
}

.sidebar-nav .nav-item1 {
    position: relative;
}

.sidebar-nav .dropdown-container .dropdown-icon {
    margin: 0 -4px 0 auto;
    transition: transform 0.4s ease, opacity 0.3s 0.2s ease;
}

.sidebar.collapsed .dropdown-container .dropdown-icon {
    transition: opacity 0.3s 0s ease;
}

.sidebar-nav .dropdown-menu1 {
    height: 0;
    overflow: hidden;
    list-style: none;
    padding-left: 15px;
    transition: height 0.4s ease;
}

.sidebar-nav .dropdown-container .dropdown-icon {
    transform: rotate(180deg);
}

.sidebar.collapsed .dropdown-menu1 {
    position: absolute;
    left: 100%;
    top: -10px;
    opacity: 0;
    height: auto !important;
    overflow-y: unset;
    pointer-events: none;
    padding-right: 10px;
    background: #151A2E;
    border-radius: 0 10px 10px 0;
    transition: 0s;
}

    .sidebar.collapsed .dropdown-menu1:has(.dorpdown-link) {
        padding: 7px 10px 7px 24px;
    }

    .sidebar.collapsed .nav-item1:hover .dropdown-menu1 {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(12px);
        transition: 0.4s ease;
    }

    .dropdown-menu1 .nav-item1 .nav-link1 {
        padding: 9px 10px;
    }

.sidebar.collapsed .dropdown-menu1 .nav-link1 {
    padding: 7px 10px;
}

.dropdown-menu1 .nav-item1 .dropdown-title{
    display: none;
}

.dropdown-menu1:has(.dorpdown-link) .nav-item1 .dropdown-title {
    font-weight: 500;
}

.sidebar.collapsed .dropdown-menu1 .nav-item1 .dropdown-title {
    display: block;
}
